:root { 
--white_A700_00:#ffffff00; 
--black_900:#000000; 
--teal_700:#068466; 
--teal_900:#004d49; 
--light_blue_A200:#3ec3ff; 
--black_900_19:#00000019; 
--light_blue_400:#1daeef; 
--white_A700:#ffffff; 
}